@import url('https://fonts.googleapis.com/css2?family=Poppings:wght@300;400;500;600;700;800;900;&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppings', sans-serif;
}

.myFooter{
	width: 100%;
	min-height: 30vh;
	background: #000000;
}

.myFooter p{
	font-size: 15px;
	padding: 10px 5%;
	color: #ffffff;
}