@import url('https://fonts.googleapis.com/css2?family=Poppings:wght@300;400;500;600;700;800;900;&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppings', sans-serif;
}

.myHeader{
	width: 100%;
	min-height: 50vh;
	background: #d9d5d9;
}
.myHeader .section{
	width: auto;
	height: auto;
	background: #ffffff;
}

.myHeader .section img{
	max-width: 90%;
	max-height: 90%;
}